{% extends 'base.html' %}

{% block title %}Regex Playground{% endblock %}

{% block extra_css %}
<style>
.hero {
    text-align: center;
    padding: 4rem 1rem;
    background: linear-gradient(135deg, #2b4b8c,  #a0c4ff); /* Degradado con 3 colores */
    color: white;
}

    .hero h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: white !important;
    }

    .hero p {
        font-size: 1.1rem;
        opacity: 0.9;
        max-width: 600px;
        margin: 0 auto;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        padding: 4rem 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .feature-card {
        background: white;
        padding: 2rem;
        border-radius: 4px;
        text-align: center;
        transition: transform 0.2s;
    }

    .feature-card:hover {
        transform: translateY(-5px);
    }

    .feature-icon {
        font-size: 2.5rem;
        color: #2b4b8c;
        margin-bottom: 1rem;
    }

    .feature-title {
        color: #2b4b8c;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .feature-description {
        color: #666;
        line-height: 1.5;
    }

    .feature-card a {
        text-decoration: none;
        color: inherit;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

{% endblock %}

{% block content %}
<section class="hero">
    <h1>Regex Playground</h1>
    <p>Powerful tools for working with regular expressions. Test, generate, and manipulate strings with ease.</p>
</section>

<section class="features">

    <a href="{% url 'regex' %}" class="feature-card">
        <div class="feature-icon"><i class="bi bi-chat-square-text"></i></div>
        <h2 class="feature-title">Generate Regex</h2>
        <p class="feature-description">Generate regular expression patterns  that matches the input string.</p>
    </a>

    <a href="{% url 'testing' %}" class="feature-card">
        <div class="feature-icon"><i class="bi bi-regex"></i></div>
        <h2 class="feature-title">Regex Testing</h2>
        <p class="feature-description">Test and validate your regular expressions with real-time feedback.</p>
    </a>

    <a href="{% url 'normal' %}" class="feature-card">
        <div class="feature-icon"><i class="bi bi-check2-all"></i></div>
        <h2 class="feature-title">Traditional testing</h2>
        <p class="feature-description">Enter both pattern and input string and verify if is a match.</p>
    </a>
</section>
{% endblock %}
